<div class="container">
  <div class="row">
    <div class="col-md-4">
      <button class="btn btn-outline-success mt-3">
        Add New Quiz
      </button>
      <div class="card mt-3">
        <div class="list-group list-group-flush">
          <button 
            class="list-group-item list-group-item-action"
            *ngFor="let q of quizzes"
            [class.active]="q === selectedQuiz"
            (click)="selectQuiz(q)"
          >
            {{ q.quizName }}
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-8"
      *ngIf="selectedQuiz !== undefined"
    >
      <div class="mt-3">
        <button class="btn btn-outline-dark">
          Save
        </button>
        <button class="btn btn-link">
          Cancel
        </button>
      </div>
      <div class="card mt-3">
        <div class="card-header">
          General
        </div>
        <div class="card-body">
          <input 
            type="text"
            class="form-control"
            [(ngModel)]="selectedQuiz.quizName"
          />
        </div>
      </div>
      <div class="card mt-3">
        <div class="card-header">
          Questions
        </div>
        <div class="card-body">
          Coming soon
        </div>
      </div>
      <div class="card mt-3">
        <div class="card-header">
          Other
        </div>
        <div class="card-body">
          Coming soon
        </div>
      </div>
    </div>
    <div class="col-md-8"
      *ngIf="selectedQuiz === undefined"    
    >
      <div class="card bg-light text-center mt-3">
        <h2>
          No Quiz Selected
        </h2>
        <p>
          Please select or add a new quiz to get started...
        </p>
      </div>
    </div>
  </div>
</div>